html {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  background-color: #50514f;
  font-family: 'Arvo', sans-serif;
  font-size: 14px;
}

body {
  width: 60%;
}

/*h1 {
  font-family: 'Montserrat Subrayada', sans-serif;
}*/

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Arvo', serif;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.2em;
}

.question {
  background-color: #247BA0;
  width: 60%;
  padding: 40px;
  margin: 10px;
}

.answers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.answer {
  background-color: #70c1b3;
  color: #000;
  padding: 5px;
  margin: 10px;
}

.right {
  background-color: #ffe066;
}

.wrong {
  background-color: #f25f5c;
}
